* {
	margin:0;
	padding:0;}
ul li {
	list-style-type:none;}
a {
	text-decoration:none;}
img {
	border:0;}
	
	
header {
	max-width:1133px;
	overflow:hidden;
	margin:0 auto;
	padding:32px 0;
	}
	header p {
		font:48px 'Oswald', sans-serif;
		color:#eb3c00;
		float:left;
		line-height:45px;}
		header p span {
			font:18px 'PT Serif', serif;
			color:#aaaaaa;
			font-style:italic;
			}
	.entrance {
		float:right;
		height:45px;}
		.login {
			background:url(images/ic-login.png) no-repeat left center;
			color:#282828;
			font:13px 'PT Serif', serif;
			font-style:italic;
			padding:0 33px 0 21px;
			display:block;
			float:left;
			line-height:45px;}
		.contactMe {
			padding:0 53px 0 57px;
			background-color:rgba(238,68,0,1.00);
			color:#fff;
			font:13px 'PT Serif', serif;
			font-style:italic;
			line-height:45px;
			height:45px;
			display:block;
			float:right;}
.menu-box {
	width:100%;
	background-color:rgba(40,40,40,1.00);}
	nav {
		max-width:1133px;
		margin:0 auto;
		overflow:hidden;}
		.menu {
			overflow:hidden;
			float:left;}
			.menu li {
				float:left;
				}
				.menu li:hover {
						background-color:rgba(235,60,0,1.00);}
				.menu li a {
					color:#fff;
					padding:0 18px 0 15px;
					font:18px 'Oswald', sans-serif;
					line-height:72px;}
					.home {
						background-color:rgba(235,60,0,1.00);}
		nav form {
			float:right;
			overflow:hidden;
		}
			.search-head {
				margin-top:16px;
				}
				.search-head li {
					float:left; 
				}
					#search {
						text-indent:12px;
						line-height:17px;
						padding:11px 0 12px 0;
						width:225px;
						border:none;
						font-size:15px;
						}
					#search::-webkit-input-placeholder { 
						font:14px 'Oswald', sans-serif;
						color: #e0e0e0;
						line-height:17px; }
					#search::-moz-placeholder { 
						font:14px 'Oswald', sans-serif;
						color: #e0e0e0;
						line-height:17px; } 
					#search:-ms-input-placeholder  { 
						font:14px 'Oswald', sans-serif;
						color: #e0e0e0;
						line-height:17px; }
					#search::placeholder  { 
						font:14px 'Oswald', sans-serif;
						color: #e0e0e0;
						line-height:17px; } 
				
.main {
	color:#282828;
	max-width:1133px;
	margin:60px auto 125px;
	font-family:'PT Serif', serif;}
	.content h1 {
		margin-bottom:58px;
		font:48px 'Oswald', sans-serif;
		}
	.content p {
		max-width:825px;
		font-size:24px;
		margin-bottom:40px;}
	.content h2 {
		font-size:18px;
		margin-bottom:20px;}
	.content ul {
		margin-bottom:69px;}	
		.content ul li {
			list-style:disc inside;}
	.recentNews h2 {
		font:14px 'Oswald', sans-serif;
		color:#eb3c00;
		margin-bottom:24px;
		}	
	.recentNews ul {
		overflow:hidden;
		}
		.recentNews ul li {
			float:left;
			width:172px;
			margin-right:20px;}
			.recentNews ul li:last-child {
				margin-right:0;}
			.recentNews ul li p {
				font:18px 'Oswald', sans-serif;
				font-weight:300;
				}
		
.toTop {
	display:none;
	position:fixed;
	bottom:55px;
	right:25px;
	font:18px 'Oswald', sans-serif;
	font-weight:300;
	color:#282828;}
	
@media only screen and (min-device-width:760px) and (max-device-width:820px) {
	
	header {
			padding:15px 0 15px 15px;}
		header p {
			text-align:center;
			font-size:60px;
			}
		
		.login {
			font-size:32px;}
		.contactMe {
			font-size:30px;}
		
	nav {
		padding:0 0 0 15px;}
	
	.menu {
		float:none;
		width:100%;}
		.menu li {
			width:20%;
			text-align:center;
			}
			.menu li a {font-size:30px;}
	nav form {
			float:right;
			overflow:hidden;
			margin-bottom:10px;
		}
			.search-head {
				margin-top:0;
			}
				.search-head li {
					float:left;
					height:40px; 
				}
					#search {
						text-indent:12px;
						line-height:17px;
						padding:11px 0 12px 0;
						width:225px;
						border:none;
						font-size:15px;
						}
						
					
	.main {
		padding:0 30px 0 20px;
		}
		.content h1 br {
			display:none;}
		.content p {
			font-size:36px;}
		.content h2 {
			font-size:40px;}
		.content ul li {
			font-size:32px;}	
	
	.recentNews h2 {
		font-size:34px;}
	.recentNews ul {
		width:100%;}
	.recentNews ul li {
		width:45%;
		margin-bottom:40px;}
		.recentNews ul li img {
			width:90%;}
		.recentNews ul li p {
			font-size:36px;}
			
			
	.toTop {
		right:45px;
		font:48px 'Oswald', sans-serif;
	}
		
	
}
	
@media only screen and (min-device-width:481px) and (max-device-width:759px) {
	
	header {
			padding:15px 0 15px 15px;}
		header p {
			text-align:left;
			font-size:60px;
			}
		
		.login {
			font-size:32px;}
		.contactMe {
			font-size:30px;}
		
	nav {
		padding:0 15px;
		position:relative;}
	
	.menu {
		float:none;
		width:100%;}
		.menu li {
			width:33%;
			text-align:center;
			}
			.menu li a {font-size:38px;}
	nav form {
		position:absolute;
		float:right;
		overflow:hidden;
		margin-bottom:10px;
		bottom:10px;
		right:10px;
		}
			.search-head {
				margin-top:0;
			}
				.search-head li {
					float:left;
					height:40px; 
				}
					#search {
						text-indent:12px;
						line-height:17px;
						padding:11px 0 12px 0;
						width:225px;
						border:none;
						font-size:15px;
						}
		#search::-webkit-input-placeholder { 
			font:26px 'Oswald', sans-serif;
			color: #e0e0e0;
			line-height:50px;}
		#search::-moz-placeholder { 
			font:26px 'Oswald', sans-serif;
			color: #e0e0e0;
			line-height:50px; } 
		#search:-ms-input-placeholder  { 
			font:26px 'Oswald', sans-serif;
			color: #e0e0e0;
			line-height:50px; }
		#search::placeholder  { 
			font:26px 'Oswald', sans-serif;
			color: #e0e0e0;
			line-height:50px; } 
	.main {
		padding:0 30px 0 20px;
		}
		.content h1 br {
			display:none;}
		.content p {
			font-size:36px;}
		.content h2 {
			font-size:40px;}
		.content ul li {
			font-size:32px;}	
	
	.recentNews h2 {
		font-size:34px;}
	.recentNews ul {
		width:100%;}
	.recentNews ul li {
		width:45%;
		margin-bottom:40px;}
		.recentNews ul li img {
			width:100%;}
		.recentNews ul li p {
			font-size:36px;}
			
			
	.toTop {
		right:45px;
		font:48px 'Oswald', sans-serif;
	}
		
	
}


@media only screen and (min-device-width:300px) and (max-device-width:480px) {
	
	header {
			padding:5px 0 0 15px;}
		header p {
			float:none;
			text-align:left;
			font-size:60px;
			margin-bottom:15px;}
		.entrance {
			margin-bottom:20px;}
		.login {
			font-size:38px;}
		.contactMe {
			font-size:30px;}
		
	nav, .main {
		padding:0 15px;}
		.content h1 br {
			display:none;}
	nav {
		padding:0 15px;
		position:relative;}
	
	.menu {
		float:none;
		width:100%;}
		.menu li {
			width:33%;
			text-align:center;
			}
			.menu li a {font-size:38px;}
	nav form {
		position:absolute;
		float:right;
		overflow:hidden;
		margin-bottom:10px;
		bottom:10px;
		right:10px;
		}
			.search-head {
				margin-top:0;
			}
				.search-head li {
					float:left;
					height:40px; 
				}
					#search {
						text-indent:12px;
						line-height:17px;
						padding:11px 0 12px 0;
						width:225px;
						border:none;
						font-size:15px;
						}
		#search::-webkit-input-placeholder { 
			font:26px 'Oswald', sans-serif;
			color: #e0e0e0;
			line-height:50px;}
		#search::-moz-placeholder { 
			font:26px 'Oswald', sans-serif;
			color: #e0e0e0;
			line-height:50px; } 
		#search:-ms-input-placeholder  { 
			font:26px 'Oswald', sans-serif;
			color: #e0e0e0;
			line-height:50px; }
		#search::placeholder  { 
			font:26px 'Oswald', sans-serif;
			color: #e0e0e0;
			line-height:50px; }  

	.recentNews h2 {
		font-size:36px;}
	.recentNews ul {
		width:100%;
		margin:0 auto;}
	.recentNews ul li {
		width:100%;
		margin:0 auto 40px;}
		.recentNews ul li img {
			width:100%;
			margin:0 auto;}
		.recentNews ul li p {
			font-size:48px;}
			
			
	.toTop {
		right:85px;
		font:48px 'Oswald', sans-serif;
	}
		
	
}

	
	
	
	
	